@media(max-width: 768px){
   .container2{
    width: 100vw;
   }
    .line-chart{
    width: 740px;
    /* padding-left: 15rem; */
   }
   .chart-Btn{
    width: 45rem;
   }
}
@media(max-width: 750px){
    .container2{
     width: 75vw;
    }
     .line-chart{
     width: 700px;
     /* padding-left: 15rem; */
    }
    .chart-Btn{
     width: 45rem;
     padding-bottom: 20px;
    }
 }
 @media(max-width: 700px){
    .container2{
     width: 80vw;
    }
     .line-chart{
     width: 600px;
     /* padding-left: 15rem; */
    }
    .chart-Btn{
     width: 40rem;
    }
 }
 @media(max-width: 650px){
    .container2{
     width: 70%;
     /* align-items: center; */
    }
     .line-chart{
     width: 90vw;
     /* padding-left: 15rem; */
    }
    .chart-Btn{
      width: 620px;
        padding-right: 10px;
     margin-bottom: 20px;
   }
 }
 @media(max-width: 600px){
    .container2{
     max-width: 60%;
    }
     .line-chart{
     width: 90vw;
     /* padding-left: 15rem; */
    }
    .chart-Btn{
      width: 90vw;
    }
 }
 @media(max-width: 640px){
   .container2{
    width: 75%;
    /* align-items: center; */
   }
    .line-chart{
    width: 90vw;
    /* padding-left: 15rem; */
   }
   .chart-Btn{
     width: 600px;
       padding-right: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width: 630px){
   .container2{
    width: 70%;
    /* align-items: center; */
   }
    .line-chart{
    width: 90vw;
    /* padding-left: 15rem; */
   }
   .chart-Btn{
     width: 90vw;
       padding-right: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width: 580px){
   .container2{
    width: 75%;
    /* align-items: center; */
   }
    .line-chart{
    width: 90vw;
    /* padding-left: 15rem; */
   }
   .chart-Btn{
     width: 90vw;
     font-size: 12px;
       padding-right: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width: 515px){
   .container2{
    width: 75%;
    /* align-items: center; */
   }
    .line-chart{
    width: 90vw;
    /* padding-left: 15rem; */
   }
   .chart-Btn{
     width: 95vw;
     display: flex;
     justify-content: space-between;
       padding-right: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
@media(max-width: 490px){
   .container2{
    width: 75%;
    /* align-items: center; */
   }
    .line-chart{
    width: 95vw;
    /* padding-left: 15rem; */
   }
   .chart-Btn{
     width: 94vw;
     display: flex;
     justify-content: space-between;
       padding-right: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
@media(max-width: 485px){
   .container2{
    width: 70%;
    /* align-items: center; */
   }
    .line-chart{
    width: 95vw;
    /* padding-left: 15rem; */
   }
   .chart-Btn{
     width: 50vw;
     display: flex;
     justify-content: space-between;
       padding-right: 10px;
    margin-bottom: 20px;
    /* font-size: 15px; */
  }
}

 