.banner{
    background-image: url("/public/banner2.jpg");
    background-size: cover;
}
.bannerContent{
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    justify-content: space-around;
}
.tagline{
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}